body, form, input, select {
    outline: none;
    color: #666;
    line-height: 22px;
}

.testbox {
    display: flex;
    justify-content: center;
    align-items: center;
    height: inherit;
    padding: 3px;
}

form {
    width: 100%;
    padding: 20px;
    background: #fff;
    box-shadow: 0 2px 5px #ccc;
}

input {
    width: calc(100% - 10px);
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
    vertical-align: middle;
}

    input:hover, textarea:hover, select:hover {
        outline: none;
        border: 1px solid #095484;
        background: #e6eef7;
    }

.title-block select, .title-block input {
    margin-bottom: 10px;
}

select {
    padding: 7px 0;
    border-radius: 3px;
    border: 1px solid #ccc;
    background: transparent;
}

option {
    background: #fff;
}

th, td {
    width: 18%;
    padding: 15px 0;
    border-bottom: 1px solid #ccc;
    text-align: center;
    vertical-align: unset;
    line-height: 18px;
    word-break: break-all;
}

.first-col {
    width: 25%;
    text-align: left;
}

.btn-block {
    margin-top: 20px;
    text-align: center;
}
