@page "/ModalConfirm"
@using global::Players.Models
@inject HttpClient http
@inject NavigationManager navigation

<link href="css/CustomButton.css" rel="stylesheet" />

<h1 style="font-size:20px;">@Mensagem.</h1>
<button @onclick="Ok" class="bn54">
    <span class="bn54span">Sim</span>
</button>
<button @onclick="Cancel" class="bn54">
    <span class="bn54span">Não</span>
</button>

@code {
    [CascadingParameter]
    public BlazoredModalInstance ModalInstance { get; set; }

    [Parameter]
    public string Mensagem { get; set; }

    void Ok()
    {
        ModalInstance.CloseAsync(ModalResult.Ok("A compra será realizada."));
    }

    void Cancel()
    {
        ModalInstance.CancelAsync();
    }
}