@page "/ModalConfirm"
@using global::Players.Models
@inject HttpClient http
@inject NavigationManager navigation


<h1 style="font-size:20px;">@Mensagem.</h1>
<button @onclick="Ok" class="btn btn-primary">Sim</button>
<button @onclick="Cancel" class="btn btn-secondary">Não</button>

@code {
    [CascadingParameter]
    public BlazoredModalInstance ModalInstance { get; set; }

    [Parameter]
    public string Mensagem { get; set; }

    void Ok()
    {
        ModalInstance.CloseAsync(ModalResult.Ok("A compra será realizada."));
    }

    void Cancel()
    {
        ModalInstance.CancelAsync();
    }
}