@page "/CriarConta"
@using global::Players.Models
@inject HttpClient http
@inject NavigationManager navigation

@if (string.IsNullOrEmpty(player.IdCarteira))
{
    <p><em>Loading...</em></p>
}
else
{
    <h1 style="font-size:20px;">Nos informe como gostaria de ser chamado.</h1>
    <EditForm Model="@player" style="max-width:300px; max-height: 200px; margin-top:20px; display:inline-block" OnValidSubmit="@Enviar">
        <div style="margin-top:5px;">
            <div class="form-group">
                <InputText @bind-Value="@player.Nick"  style="display:inline-block" placeholder="Apelido" />
            </div>
        </div>
        <button type="submit" class="btn btn-primary" style="display:inline-block; margin-top:20px">Salvar</button>
    </EditForm>
}

@code {
    public Player player;

    [CascadingParameter]
    public BlazoredModalInstance ModalInstance { get; set; }

    [Parameter]
    public string IdCarteira { get; set; }

    protected override void OnInitialized()
    {
        player = new Player();
        player.IdCarteira = IdCarteira;
        base.OnInitialized();
    }

    async void Enviar()
    {
        await http.PostAsJsonAsync("api/player", player);
        ModalInstance.CloseAsync();
    }
}